body{
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
}
{
    margin:0px;
    padding:0;
}
.container{
    width: 1000px;
    background-color:rgb(214, 205, 205);
    margin: 0 auto;
    padding:20px;
}
.profile-image{
    width:100px;
    height:110px;
    border:3px solid white;
    border-radius:50%;
    float:left;
}
.header-bio{
    float:left;
    padding:30px;
}
h1,h2,h3,h4,h5,h6{
    color:black;
}
.header-contact{
    float:right;
    padding:30px;
    font-size:large;
    font-weight:800;
}
.div-clear{
    clear:both;
}
hr{
    border: 3px solid black;
    width:100%;
    padding:5px;
    margin:20px auto;
    border-bottom:none;
    border-left:none;
    border-right:none;
}

.div-left{
    width:30%;
    float:left;
}
.div-right{
    width:70%;
    float:left;
}
.common-hr{
    border:2px solid black;
    width:100%;
    margin:20px auto;
    border-bottom:none;
    border-left:none;
    border-right:none;
    padding:3px
}
.content{
    margin-bottom:30px;
}
/*--education section start*/
.edu-template-left{
    float:left;
    width:45%;
}
.edu-template-right{
    float:right;
    width:45%;
}
.refer-left{
    float:left;
    width:45%;
}
.refer-right{
    float:right;
    width:45%;
}
/*--refer end*/




.bottom-container{
    background-color:black;
    text-align:center;
    padding:10px;

}
.bottom-container a{
    color:white;
    text-decoration:none;
    margin:20px;
}
.bottom-container p{
    color:white;
    margin: top 20px;
    
}



